<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" parallel="tests" name="Suite">
	<listeners>
		<listener class-name="genericutilities.ListenersImpl"/>
	</listeners>
  <test thread-count="2" parallel="tests" name="Test" preserve-order="true">
    <classes>
		<class name="testpackage1.TestClass1"/>
      <class name="testpackage1.TestClass2"/>
      <class name="testpackage2.TestClass3"/>
      <class name="testpackage2.TestClass4"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
